body {
    margin:0px;
}

.header {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color: #663300;
}

h1.logo {
    color:#F9FAF8;
    font-size:24px;
    padding-left:25px;
}

ul.links > li {
    display:inline-block;
    color:#E5E7EB;
    font-size:18px;
    padding-right:25px;
    list-style-type:none;
}

a {
    text-decoration:none;
    color:#F9FaF8;
}

div.awesome {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:#663300;
    padding: 50px;
}

div.snippet {
    flex-basis:40%;
}

h2 {
    color:#F9FaF8;
    font-size:48px;
    font-weight:bolder;
}

p {
    color:#E5E7EB;
    font-size:18px;
    flex-wrap:wrap;
}

button {
    background-color:#ffa64d;
    color:white;
    font-weight:bold;
    margin-top:-50px;
    border-style:none;
    border-radius:8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}

img {
    width:300px;
    height:auto;
}

h3 {
    color:#663300;
    font-size:36px;
    font-weight:bolder;
    text-align:center;
}

div.info {
    background-color:white;
}

div.containerparent {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:space-between;
}

div.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 1 1 0px;
}

img.icon {
    height:200px;
    width:200px;
}

p.cnt {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    color:#663300;
}

div.quote {
    background-color:#dfbf9f;
    color:#663300;
    font-size:36px;
    font-weight:lighter;
    padding:50px;
}

p.author {
    text-align: end;
    color:#663300;
    font-size:36px;
}

div.action {
    width:70%;
    height:300px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:auto;
}

div.blueaction {
    display:flex;
    flex-direction:column;
    margin:50px;
    border-radius:5%;
}

button.actionbutton {
    border-color:white;
    border-width:1px;
    border-style:solid;
    margin:50px;
    display:flex;
}

div.blueaction, div.actionbutton {
    background-color:#ffa64d;
}

footer {
    background-color:#663300;
    color:#F9FAF8;
    text-align:center;
    padding:25px;
}