.header {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color: #1F2937;
}

h1.logo {
    color:#F9FAF8;
    font-size:24px;
    padding-left:25px;
}

ul.links > li {
    display:inline-block;
    color:#E5E7EB;
    font-size:18px;
    padding-right:25px;
    list-style-type:none;
}

a {
    text-decoration:none;
    color:#F9FaF8;
}

div.awesome {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:#1F2937;
    padding: 50px;
}

div.snippet {
    flex-basis:40%;
}

h2 {
    color:#F9FaF8;
    font-size:48px;
    font-weight:bolder;
}

p {
    color:#E5E7EB;
    font-size:18px;
    margin-top: -40px;
    flex-wrap:wrap;
}

button {
    background-color:#3882F6;
    color:white;
    font-weight:bold;
    margin-top:-50px;
    border-style:none;
    border-radius:8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}

img {
    width:300px;
    height:auto;
    padding-left:25px;
}

h3 {
    color:#1F2937;
    font-size:36px;
    font-weight:bolder;
    text-align:center;
}

div.containerparent {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

div.container {
    display:inline-block;
}

img.icon {
    height:200px;
    width:200px;
}

p.cnt {
    color:#1F2937;
    flex-wrap:wrap;
}